* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar-nav li a:hover {
    text-decoration: none;
    color: white!important;
    background-color: rgb(207, 137, 164);
    color: white;
    border-radius: 5%;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.navbar-brand:hover{
    animation-name: pulse;
    animation-duration: 2s;
}


.navbar-nav li a:active {
    text-decoration: none;
    color: hotpink;
}

/* estilo del footer */

.footer {
    grid-area: footer;
}

.subFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.enviar {
    padding: 1rem 1rem;
    background-color: rgb(220, 231, 115, 1);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.enviar:hover {
    background-color: rgb(221, 124, 157, 1);
    border: 0.1rem solid rgb(221, 124, 157, 1);
}

.textoGrande {
    font-size: 3rem;
}

/* Estilo de botones */
.linkCurso{
    text-decoration: none;
}
.linkCurso:hover {
    color: pink;
}

.linkCurso:link {
    color: #FF0000;
}

.linkCurso:active {
    background-color: black;
    border-radius: 0.5rem;
}

.navbar-brand:hover{
    animation-name: pulse;
    animation-duration: 2s;
}


.navbar-nav li a:active {
    text-decoration: none;
    color: hotpink;
}

