@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Quicksand", sans-serif;
    font-size: 10px;
}

#grillaC {
    display: grid;
    grid-template-areas:
        "header header"
        "titulo titulo"
        "imagen imagen"
        "texto texto"
        "formulario formulario"
        "footer footer";
    grid-template-rows: 8.84% 6.63% 10.06% 5.87% 30.38% 4.53%;
    /* grid-template-rows: 20vh 15vh 25vh 8vh 28vh 25vh 10vh 22vh 15vh 8vh; */
    gap: 0.5rem;
    padding: 1rem;
    align-items: center;
    height: 226vh;
}

/* estilo del header */
header {
    grid-area: header;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    width: 50%;
    display: flex;
    height: auto;
}

.logo a {
    height: 100%;
}

.logo img {
    width: 50%;
}

main {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

main ul li {
    display: flex;
    justify-content: flex-end;
}

/* estilo del titulo */

.titulo {
    display: grid;
    grid-area: titulo;
    background: linear-gradient(90deg, rgba(220, 231, 115, 1) 0%, rgba(221, 124, 157, 1) 52%, rgba(207, 155, 241, 1) 100%);
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    height: 100%;
}

/* estilo de la imagen post titulo */

.inicio {
    grid-area: imagen;
    padding: 0;
    background-image: url(./imagenes/contacto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -27rem;
    height: 100%;
}

.contacto {
    grid-area: texto;
}

.contacto p {
    font-size: 1.4rem;
}

/* estilo del formulario */
.formulario {
    grid-area: formulario;
    width: 80%;
    margin: 0 auto;
}

.fieldset {
    font-size: 1.2rem;
    border: 0.1rem solid gray;
    padding: 2rem;
    margin-bottom: 2rem;
}

.legend {
    font-size: 1.4rem;
    font-weight: bold;
}

.formGroup {
    margin-bottom: 1.2rem;
}

label {
    display: block;
}

.input,
textarea {
    width: 100%;
}
.input:focus{
    background-color: rgb(226, 223, 223);
}
textarea:focus{
    background-color: rgb(226, 223, 223);
}

.enviar {
    padding: 1rem 2rem;
    background-color: rgb(220, 231, 115, 1);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.enviar:hover{
    background-color: rgb(221, 124, 157, 1);
    border: 0.1rem solid rgb(221, 124, 157, 1);
}

footer {
    display: grid;
    grid-area: footer;
    font-size: 1.5rem;
    color: rgb(48, 46, 46);
    justify-content: center;
    align-content: space-between;
    height: 100%;
}

footer .mainFooter {
    display: flex;
    justify-content: center;
}

footer .mainFooter ul {
    display: flex;
    display: inline-block;
}

footer .mainFooter ul li {
    display: inline-block;

}

footer .mainFooter ul li a {
    text-decoration: none;

}

/* grid-breakpoints(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px */

@media (min-width: 768px) {


    html {
        font-size: 10px;
        font-family: "Quicksand", sans-serif;
    }

    #grillaC {
        display: grid;
        grid-template-areas:
            "header"
            "titulo"
            "imagen"  
            "texto"
            "formulario" 
            "footer";
            grid-template-rows: 35vh 25vh 25vh 15vh 85vh 25vh;
        /* grid-template-rows: 20vh 15vh 25vh 8vh 28vh 25vh 10vh 22vh 15vh 8vh; */
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        height: 100vh;
    }

    header {
        grid-area: header;
        background-color: white;
        display: flex;
        padding-top: 4rem;

    }

    header .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 55%;
    }

    header .logo a {
        display: flex;
        justify-content: center;
    }

    header .logo img {
        width: 42%;
    }

    header main {
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header main ul,
    footer main ul {
        display: inline-block;
    }

    header main ul li,
    footer main ul li {
        display: inline-block;
        font-size: 2.5rem;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
        border-right-width: 0.3rem;
        border-right-style: solid;
        border-right-color: violet;
    }

    header main ul li a,
    footer main ul li a {
        text-decoration: none;
        color: rgb(48, 46, 46);
    }

    .noBorder {
        border-right: none !important;
    }

    .titulo {
        grid-area: titulo;
        align-content: center;
        text-align: center;
        font-size: 2.8rem;
        color: rgb(48, 46, 46);

    }

    /* estilo de la imagen post titulo */

    .inicio {
        grid-area: imagen;
        padding: 0;
        background-image: url(./imagenes/contacto.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -67rem;
        height: 100%;
    }

    .contacto {
        grid-area: texto;
        width: 80%;
        margin: 0 auto;
    }

    .contacto p {
        font-size: 1.8rem;
    }

    /* estilo del formulario */
    .formulario {
        grid-area: formulario;
        width: 80%;
        margin: 0 auto;
    }

    .fieldset {
        font-size: 1.8rem;
        border: 0.1rem solid gray;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .legend {
        font-size: 1.6rem;
        font-weight: bold;
    }

    .formGroup {
        margin-bottom: 1.4rem;
    }

    label {
        display: block;
    }

    .input,
    textarea {
        width: 100%;
        /* height: 2rem; */
    }

    .input :focus{
        background-color: rgb(226, 223, 223);
    }

    textarea:focus{
        background-color: rgb(226, 223, 223);
    }

    .enviar {
        padding: 1rem 2rem;
        background-color: rgb(220, 231, 115, 1);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    
    .enviar:hover{
        background-color: rgb(221, 124, 157, 1);
        border: 0.1rem solid rgb(221, 124, 157, 1);
    }

    footer {
        grid-area: footer;
        font-size: 2.8rem;
        color: rgb(48, 46, 46);
        display: flex;
        display: block;
        align-items: center;
        justify-content: center;
    }

    footer p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }


    footer main {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

}